
.card {
  border: 5px solid #999b85;
  border-radius: 15px;
  background-color: rgba(61, 56, 56, 0);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  display: table-row-group;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 305px;

}

.card > img:first-child {
  border-radius: 12px;
  margin-bottom: 20px;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  color: rgb(222, 218, 226);
  font-family: monospace;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: auto;
  text-align: center;
  margin: 0 0 0.35em;
}
.card

h4 {
  color: rgb(221, 221, 230);
  align-items: stretch;
  font-family: monospace;
  font-size: 20px;
  letter-spacing: auto;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0.35em;
}
