body{
    font-family: monospace;
    font-size: 15px;
    color: bisque;
    background-color: rgba(61, 56, 56, 0);
}

.gray{
    background-color: rgba(61, 56, 56, 0);
}

.subtitle{
    position: relative;
    align-items: center;
    font-family: fantasy;
    font-size: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(218, 233, 14);
    background-color: rgba(61, 56, 56, 0);
}

.body h3{
    color: bisque;
    font-family: monospace;
}

.filterBar{
    display: flex;
    flex-direction: row;
    align-items: left;
    border: 2px solid  rgb(231, 235, 4);
    border-radius: 5px;
    font-size: large;
    position:relative;
    background-color: rgba(61, 56, 56, 0);
    font-family: monospace;
    transition: 1ms; 
} 
