body{
    font-family: monospace;
    background-color: rgba(61, 56, 56, 0);

}

.searchBar{
    max-width: 100%;
    margin: auto;
    height: 45px;
    width:100%;
    flex-direction:column;
    border-radius: 5px;
    font-size: large;
    position:relative;
    font-family: monospace;
    top:50px;
    left:0;
    right:0;
}

.searchBar button:hover{
    width: 100px;
    height: 40px;
    font-family: monospace;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: #676859;
    border-color: #030303d7;
    transition: gray 1ms;
}