.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button:hover {
    width: 40px;
    height: 40px;
    font-family: monospace;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
    color: #676859;
    border-color: #f4f806d7;
}
