
.nav {
    display: flex;
    justify-content:flex-end;
    font-family: monospace;  
    font-size: large;
    background-color:  #edeebfd7;
    cursor: pointer;
    
}

.menu{
  display: flex;
  align-items: center;
  padding: 4px; 

}

.navLinks {
  color: #676859;
  font-size:x-large
  }
